      <h1>RESULT</h1>   
<div class=" center jumbotron">
    <div class="container ">
      <div class="row">
        <div class="col-xs-6  ">
          <p> Q1= The Power of <%= $power_Q1_random_a %> over <%= $power_Q1_random_b %>  is  <%= @resultofpower1 %>. <br>
          You have answered <%= @input1 %>  !!   <%= @result1 %> </p>

          <p> Q2= The Power of <%= $power_Q2_random_a %> over <%= $power_Q2_random_b %>  is  <%= @resultofpower2 %>.<br>
          You have answered <%= @input2 %>  !!   <%= @result2 %> </p> 

          <p> Q3= The Power of <%= $power_Q3_random_a %> over <%= $power_Q3_random_b %>  is  <%= @resultofpower3 %>.<br>
          You have answered <%= @input3 %>  !!    <%= @result3 %> </p> 

          <p> Q4= The Power of <%= $power_Q4_random_a %> over <%= $power_Q4_random_b %>  is  <%= @resultofpower4 %>.<br>
          You have answered <%= @input4 %>  !!    <%= @result4 %> </p> 

          <p> Q5= The Power of <%= $power_Q5_random_a %> over <%= $power_Q5_random_b %>  is  <%= @resultofpower5 %>.<br>
          You have answered <%= @input5 %>  !!    <%= @result5 %> </p> 
       </div> 
        
        <div class="col-xs-6">
          <p> Q6= The Power of <%= $power_Q6_random_a %> over <%= $power_Q6_random_b %>  is  <%= @resultofpower6 %>. <br>
          You have answered <%= @input6 %>  !!   <%= @result6 %> </p>

          <p> Q7= The Power of <%= $power_Q7_random_a %> over <%= $power_Q7_random_b %>  is  <%= @resultofpower7 %>.<br>
          You have answered <%= @input7 %>  !!   <%= @result7 %> </p> 

          <p> Q8= The Power of <%= $power_Q8_random_a %> over <%= $power_Q8_random_b %>  is  <%= @resultofpower8 %>.<br>
          You have answered <%= @input8 %>  !!    <%= @result8 %> </p> 

          <p> Q9= The Power of <%= $power_Q9_random_a %> over <%= $power_Q9_random_b %>  is  <%= @resultofpower9 %>.<br>
          You have answered <%= @input9 %>  !!    <%= @result9 %> </p> 

          <p> Q10= Multiply <%= $power_Q10_random_a  %> with  <%= $power_Q10_random_b %> then divide by 100 = <%= @result10 %>. <br>
          You have answered <%= @input10 %>  !!    <%= @print %> </p> 
       </div>  
                  
       <br />
        <hr>
           <h2> Total Points: <%= @point %></h2>
       <br />
        <hr>
          <h2> FEEDBACK: </h2> <h1><%= @final_points  %> </h1>
                             
         </div> 
        </div> 
      </div> 
   
          

          